* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 300vh;
}

.header-container{
    display: block;
    height: 10vh;
    width: 200vh;
    margin-top: 10px;
}

.logo {
    width: 33.33%;
    float: left;
}

.img-size {
    height: 40px;
}

.middle-top {
    width: 33.33%;
    float: left;
}

.search {
    display: inline-flex;
    height: 20px;
}

.shopping-cart {
    display: inline-flex;
    height: 20px;
}

.top-right {
    width: 33.33%;
    float: right;
}

.my-cart {
    width: 100%;
    float: left;
    margin-top: 80px;
    margin-left: 20px;
}

.container-a {
    width:50%;
    display: inline-block;
}

.container-b {
    display: inline-block;
    margin-top: 0px;
    margin-left: 5px;
    padding: 10px;
    width: 500px;
    height: 300px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 0px 15px 20px lightgrey;
}

.box-top-left {
    margin-top: 20px;
    margin-left: 20px;
    width: 600px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 0px 15px 20px lightgrey;
}

.box-top-right {
    margin-top: -250px;
    margin-left: 650px;
    width: 600px;
    height: 400px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 0px 15px 20px lightgrey;
}

.blue-box {
    margin-top: 15px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
    border: 1px solid blue;
    border-radius: 20%;
    background-color: rgb(40, 149, 245);
}

.orange-box {
    margin-top: 15px;
    margin-left: 100px;
    width: 150px;
    height: 150px;
    border: 1px solid orange;
    border-radius: 20%;
    background-color: orange;
}

.icon-bin {
    position: absolute;
    margin-top: 80px;
    margin-left: 50px;
    padding: 5px;
    color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
}

.icon-file-docs {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    color: blue;
    background-color: white;
    border: 1px solid white;
    border-radius: 30%;
}

.icon-file-slides {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    color: orange;
    background-color: white;
    border: 1px solid white;
    border-radius: 30%;
}

.icon-ticket {
    position: relative;
    color: lightgreen;
    width: 30px;
}

.box-top-left .blue-box h3 {
    color: white;
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
}

.blue-box h5 {
    color: white;
    position: absolute;
    margin-top: 80px;
    margin-left: 10px;
}

.box-top-left h2 {
    color: black;
    margin-top: -150px;
    margin-left: 280px;
}

.box-top-left .orange-box h3 {
    color: white;
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
}
.orange-box h5 {
    color: white;
    position: absolute;
    margin-top: 80px;
    margin-left: 10px;
}

.green-dot {
    display: block;
    width: 15px;
    height: 15px;
    background-color: lightgreen;
    border: 1px solid lightgreen;
    border-radius: 50%;
    margin-left: 300px;
}

.gray-dot {
    display: block;
    width: 15px;
    height: 15px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: 0px;
}

.dot-container {
    display: inline-block;
}

.drop-down {
    display: inline-block;
}

.content {
    margin-top: 20px;
    margin-left: 300px;
}


.box-bottom-left {
    margin-top: 150px;
    margin-left: 20px;
    width: 600px;
    height: 200px;
    border: 1px solid white;
    border-radius: 5%;
    box-shadow: 0px 15px 20px lightgrey;
}

.input placeholder {
    color: grey;
    opacity: 0.5;
  }

.button-apply {
    background-color: white;
    border: 1px solid lightgreen;
    border-radius: 15%;
    color: lightgreen;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
  }
.button-checkout {
    background-color: lightgreen;
    border: none;
    border-radius: 5%;
    color: BLACK;
    margin-top: 20px;
    margin-left: 150px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

  .container-b h1{
    color: lightgreen;
    text-align: end;
  }

  .container-b h3{
    margin-bottom: 5px;
  }

  .container-b .in-line h3{
    display: inline;
  }
  
  .input{
    margin-left: 100px;
  }